{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/dog-detail.css' %}"
/>
<script defer src="{% static 'js/dog-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="dog-container">
  <div class="dog-details">
    <h1>{{ dog.name }}</h1>
    {% if dog.photo.url %}
      <img 
        src="{{dog.photo.url}}" 
        alt="A photo of {{dog.name}}"
        class="usr-img"
      >
    {% else %}
      <img 
        src="{% static 'images/sk8r-boi-cat.svg' %}" 
        alt="A skater boy cat"
      >
    {% endif %}
    {% if dog.age > 0 %}
      <h2>A {{ dog.age }} year old {{ dog.breed }}</h2>
    {% else %}
      <h2>A {{ dog.breed }} puppy.</h2>
    {% endif %}
    <p>{{ dog.description }}</p>
    <div class="dog-actions">
      <a href="{% url 'dogs_update' dog.id %}" class="btn warn">Edit</a>
      <a href="{% url 'dogs_delete' dog.id %}" class="btn danger">Delete</a>
    </div>
      <h3>Change {{ dog.name }}'s photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add_photo' dog.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
  </div>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
    </div>
    <h3>Add a Feeding</h3>
   <form
      action="{% url 'add_feeding' dog.id %}" 
      method="post" 
      class="subsection-content"
    >
    {% if dog.fed_for_today %}
        <p class="fed">{{dog.name}} has been fed all their meals for today!</p>
      {% else %}
        <p class="unfed">{{dog.name}} might be hungry!</p>
      {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>   
    <h3>Past Feedings</h3>
    {% if dog.feeding_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Meal</th></tr>
        </thead>
        <tbody>
          {% for feeding in dog.feeding_set.all %}
            <tr>
              <td>{{feeding.date}}</td>
              <td>{{feeding.get_meal_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="subsection-content">{{dog.name}} has never been fed 😟</p>
    {% endif %}
  </section>
  <section class="toys">
    <div class="subsection-title">
      <h2>Toys</h2>
    </div>
    <h3>{{ dog.name }}'s Toys</h3>
    <div class="subsection-content">
      {% if dog.toys.count %}
        {% for toy in dog.toys.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ toy.color }}"
            ></div>
            <a href="{% url 'toys_detail' toy.id %}">
              <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{dog.name}} doesn't have any toys 😞</p>
      {% endif %}
    </div>
    <h3>Available Toys</h3>
    <div class="subsection-content">
      {% comment %} We'll display available toys here {% endcomment %}
      {% if toys.count %}
        {% for toy in toys.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ toy.color }}"
            ></div>
            <a href="{% url 'toys_detail' toy.id %}">
              <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
            <div class="card-action">
              <form action="{% url 'assoc_toy' dog.id toy.id %}" method="post">
                  {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-toys">
          {{dog.name}} already has all the available toys 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>


{% endblock %}